<%show_header||=false%>
<%multiple||=false%>
<%cl||=''%>
<%articles=Article.find_priority(term_text)%>
<%logos=Echonest.logos%>
<%height||=16%>
<%height=height.to_i%>
<%articles.each{|article|%>
<span class='<%=cl%>'>
<a target='review' title="<%=article.title%>" href='<%=article.url%>'>
  <img 
    style='position:relative;top:2px'     
    height='<%=height+(Echonest.logo_adj[article.domain]||0)%>px' 
    src='<%=Echonest.logos[article.domain]%>'
  /></a>
</span>
<%break unless multiple%>
<%}%>
  