<div style='padding:0.25em'>
<%recommenders=@youser.recommenders%>
<%rec_hash=Hash.new%>
<%recommenders.each{|user|rec_hash[user.id]=true}%>
<%users,user_common_terms=@youser.recommended_users%>
<%j=0%>
<table width=100%>
<tr>
  <td>
    <span class ='smaller'>
    username
    </span>
  </td>
  <td>
    <span class =' smaller'>
    bands s/he shares with you
  </span>
  </td>
</tr>
<%users.each{|user|%>
  <%next if rec_hash[user.id]%>
  <%j+=1%>
  <%break if j>num%>
  <tr >
  <td valign=top style='margin-bottom:8px'>
    <span class ='smaller' >
    
      <a href='<%=url("/users/#{user.name}")%>'><%=user.name%></a>
      </span>
  </td>
  <td>
      <span class ='gray smaller' style>
    <%user_common_terms[user.name].each_with_index{|term,i|-%><%break if i>=10-%><%=", " unless i==0-%><span style='text-transform:lowercase'><%=term.text-%></span><%}-%>, and <a href='<%=url("/users/#{user.name}")%>'><%=user_common_terms[user.name].size-10%> others</a></span>
  </td>
  <td valign=top>
    <span class='smaller' >
  <a href='<%=url("/users/#{user.name}")%>'>follow</a>
  </span>
  </td>
  </tr>
<%}%>
</table>
</div>