<%@options_label,@nav_array = controller.use_calendar_nav_array%>
<%if not params[:no_calendar_options]%>  
<%=render(:partial=>'shared/calendar_options',:locals=>{:options_label=>@options_label,:nav_array=>@nav_array})%>
<%end%>
<%if @youser%>
    <%=render(:partial=>'add_terms')%>
  <h2 ><div>
    <div style='float:right'><span style='display:none;padding:4px' class='underline' id='refresh'><a onclick='refresh_terms();return false;' href='#'>refresh</a></div>
			Your bands <span class='small underline gray'>
			  <a href='<%=url("/edit")%>'>edit</a>
			  <br>
			    			  You will be emailed when these bands come to <%=@metro%>.
		 <div style='clear:left'></div>
		</div>
  </h2>
  <div >
    <div  id='my_related_terms' style='float:right;margin-right:3px'>
      <%#=render(:partial=>'my_related_terms')%>
    </div>
    <div id='my_terms'>
    <%=render(:partial=>'my_terms')%>
    </div>
    <div style='clear:right'></div>
  </div>
  <%else%>
    <div class='scarcity_message'>You must be logged in to do that! <a href='<%=url("/login")%>'>login</a> or <a href='<%=url("/signup")%>'>create an account</a></div>
  <%end%>
