<%cl||=''%>
<div class='add_more_bands <%=cl%>'>
<h2 >
  Add more bands <span class='small underline gray' style='font-weight:normal'>1 per line, we'll suggest more as you type </span>
</h2>
<div style='float:left'>
<%=form_remote_tag (:update =>"result",
					:loading => "$(submit).value=' ...';$(submit).disabled=true",
					:complete => "jQuery('#youser_terms_as_text').val('');after_add()",
					:id=>'add_form',
					:url =>{:action => "add_remote"})
					-%>
  <input type="hidden" name="hidden_term_text" value=""/>
  <input type="hidden" name="note" value="add more bands"/>
  <%=render(:partial=>"shared/authenticate_client")%>
        <%=text_area_tag "youser_terms_as_text", nil, :size => "33x6" %>
        <%= observe_field(:youser_terms_as_text,
                          :frequency => 1,
                          :update => :related_terms,
                          :evalScripts => true,
                          :url => {:controller=>:edit,:action => :related_terms}
                          )%>
                      <br>
                      <input type='submit' value='Add'>
                      </form>
                      <div id="result"></div>
</div>
<div id="related_terms" class="signedin_related_terms" ></div>
<div style='clear:left'></div>
</div>


<script>
  function after_add()
  {
    update_related_terms();
    update_terms_and_shows();
  }
</script>