<%cl||=''%>
<div class='add_more_bands <%=cl%>'>
<h2 >
Add alerts	<span class='small underline gray'>one per line
	  <a href='<%=url("/edit")%>'>edit</a>
	  <br>
 <div style='clear:left'></div>

  <div class='small underline gray' style=''>
	<!--You can get alerts for people, groups and things (including hashtags) that might be mentioned in descriptions of movies, comedians, plays, dance performances or readings that come to boston.-->
	</div>
</h2>

<div style='float:left'>
<%=form_remote_tag (:update =>"result",
					:loading => "$(submit).value=' ...';$(submit).disabled=true",
					:complete => "jQuery('#youser_terms_as_text').val('');after_add()",
					:id=>'add_form',
					:url =>{:action => "add_remote"})
					-%>
  <input type="hidden" name="hidden_term_text" value=""/>
  <input type="hidden" name="note" value="add more bands"/>
  <%=render(:partial=>"shared/authenticate_client")%>
        <%=text_area_tag "youser_terms_as_text", nil, :size => "33x6" %>
        <%= observe_field(:youser_terms_as_text,
                          :frequency => 1,
                          :update => :related_terms,
                          :evalScripts => true,
                          :url => {:controller=>:edit,:action => :related_terms}
                          )%>
                      <br>
                      <input type='submit' value='Add'>
                      </form>
                      <div id="result"></div>
</div>
<div id="related_terms" class="signedin_related_terms" ></div>
<div style='margin-left:0px;float:left'>
		<div class="club_heading" style="padding:0.5em;width:20em;"><span class="subhead">
		<span style="background-color:white;font-family:terminal,monospace;padding:0.25em;text-transform:lowercase;line-height:20px">
			Add alerts for artists, writers, musical groups, movie titles, composers,  comedians, etc. that might make an appearance in <%=@metro_code%>.<br><br> for example: <br><span style='font-style:italic'> Louis CK, James Tate, My&nbsp;Bloody&nbsp;Valentine, The Big Sleep, Bach <br><br></span>
		</span	>
		<span style="background-color:white;font-family:terminal,monospace;padding:0.25em;text-transform:lowercase;line-height:20px">
			As you type, we'll recommend similar  things to track. <br><br>
		</span	>
		<span style="background-color:white;font-family:terminal,monospace;padding:0.25em;text-transform:lowercase;line-height:20px;color:red">
			You will be emailed when someone posts a flyer mentioning one of these things! 
		</span>
		</div>
</div>
<div style='clear:left'></div>
</div>


<script>
  function after_add()
  {
    update_related_terms();
    update_terms_and_shows();
  }
</script>